* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .grid__ul {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1.5fr;
    grid-template-rows: 100px 100px 100px 100px 100px;
    grid-gap: 20px;
}
ul {
    list-style: none;
}
.grid__li {
    border: 3px solid red;
}
.grid__li:nth-child(1) {
    grid-column: 1/ 3;
}
.grid__li:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / 6;
}
.grid__li:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / 4;
}
.grid__li:nth-child(4) {
    grid-column: 2;
    grid-row: 2 / 3;
}
.grid__li:nth-child(5) {
    grid-column: 1;
    grid-row: 4 / 6;
} */

.grid__ul {
    display: grid;
    grid-template-columns: 1fr 1fr 4fr 1fr;
    grid-template-rows: 100px 100px 100px 100px;
    /* grid-gap: 20px; */
}
.grid_li_box {
    display: grid;
    grid-template-columns: 0.3fr;
    grid-template-rows: 80px 80px 80px 80px;
    grid-gap: 20px;
    border-radius: 100%;
    margin-left: 60px;
    margin-top: 30px;
}

ul {
    list-style: none;
}

/* .grid__li {
    border: 3px solid red;
}

.grid__li:nth-child(1) {
    grid-column: 1/ 3;
}
.grid__li:nth-child(2) {
    grid-column: 3/ 4;
    grid-row: 1 / 3;
}
.grid__li:nth-child(3) {
    grid-column: 1/ 2;
    grid-row: 2 / 5;
}
.grid__li:nth-child(4) {
    grid-column: 2/ 3;
}
.grid__li_div:nth-child(1) {
    border-radius: 100%;
}
.grid__li_div:nth-child(2) {
    border-radius: 100%;
}
.grid__li_div:nth-child(3) {
    border-radius: 100%;
}
.grid__li_div:nth-child(4) {
    border-radius: 100%;
}
.grid__li_div {
    border: 2px solid red;
}
.grid__li:nth-child(6) {
    grid-column: 3/4;
}
.grid__li:nth-child(7) {
    grid-column: 2/4;
} */


/* .grid_li_div {
    border: 5px solid red;
    border-radius: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
}
.grid__li {
    border: 5px solid red;
}
.grid__li:nth-child(1) {
    grid-column: 1/3;
    margin-left: 100px;
}
.grid__li:nth-child(2) {
    /* grid-column: 1/3;
    grid-row: 1/2;
    margin-left: -200px;
}
.grid__li:nth-child(3) {
    grid-column: 4/6;
    grid-row: 1/3;
    margin-left: 200px;
} */

/* .grid__li {
    border: 3px solid red;
}

.grid__li:nth-child(1){
    grid-column: 1/5;
    background: white;
}
.grid__li:nth-child(2){
    grid-column: 1/2;
    background: blue;
}
.grid__li:nth-child(3){
    grid-column: 2/5;
    background: rgb(255, 50, 50);
}
.grid__li:nth-child(4){
    grid-column: 1/5;
    background: rgb(77, 77, 255);
}
.grid__li:nth-child(5){
    grid-column: 1/3;
    grid-row: 4/6;
    background: #36424a;
}
.grid__li:nth-child(6){
    grid-column: 4/5;
    background: #2eff43;
}
.grid__li:nth-child(7){
    grid-column: 4/5;
    background: #0dad22;
}
.grid__li:nth-child(8){
    grid-column: 1/5;
    background: rgb(255, 255, 79);
} */ 

.grid__li {
    border: 4px solid red;
}
.grid__li:nth-child(1) {
    grid-column: 1/2;
    background: pink;
}
.grid__li:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/3;
    background: pink;
}
.grid__li:nth-child(3) {
    grid-column: 3/4;
    grid-row: 1/5;
    background: pink;
}
.grid__li:nth-child(4) {
    grid-column: 4/5;
    grid-row: 1/2;
    background: pink;
}
.grid__li:nth-child(5) {
    grid-column: 1/2;
    grid-row: 2/3;
    background: pink;
}
.grid__li:nth-child(6) {
    grid-column: 4/5;
    grid-row: 2/3;
    background: pink;
}
.grid__li:nth-child(7) {
    grid-column: 1/2;
    grid-row: 3/4;
    background: pink;
}